#%RAML 1.0
version: v1
title: Accounts API
baseUri: https://anypoint.mulesoft.com/mocking/api/v1/links/315a0744-c909-4c71-a3f0-fb5778acf141/ # baseUri: www.accounts.com

types:
  Account: !include datatypes/account.raml
  AccountNoID: !include datatypes/accountNoID.raml

/accounts:
  get:
    description: Retrieves accounts based on the given query parameters.
    headers:
      Requester-ID:
        description: id of the person requesting the accounts information
        required: true
    queryParameters:
      country:
        required: false
        type: string
      name:
        description: The system will look for names that contain the given value in the name parameter.
        required: false
        type: string
      type:
        required: true
        type: string
        enum: ["personal", "business"]
    responses:
      400:
        body:
          application/json:
            example: {
              "message": "Error retrieving data from the Account database."
            }
      200:
        description: Returns an array of Account objects in JSON
        body:
          application/json:
            type: Account[]
            example:  !include examples/accountsExample.raml
  post:
    description: Creates new accounts based on a given array of Account objects.
    headers:
        Requester-ID:
          description: id of the person requesting the accounts information
          required: true
    body:
      application/json:
        description: Payload should be an array of Account objects with all fields present for each Account object.
        type: AccountNoID[]
        example: !include examples/accountsExampleNoID.raml
    responses:
      400:
        body:
          application/json:
             example: {
               "message": "Error creating accounts. Please check the JSON object and make sure it's valid."
             }
      201:
        body:
          application/json:
            example: {
              "message": "Accounts uploaded (but not really)."
            }
/accounts/{id}:
  get:
    description: Retrieves account based on the given id.
    queryParameters:
      country:
        required: false
        type: string
      name:
        description: The system will look for names that contain the given value in the name parameter.
        required: false
        type: string
      type:
        required: false
        type: string
        enum: ["personal", "business"]
    responses:
      200:
        body:
          application/json:
            type: AccountNoID
            example: !include examples/accountExample.raml
      400:
        body:
          application/json:
            example: {
              "message": "Error retrieving data in GET method from the Account database."
            }
  put:
    description: Replase account based on the given id.
    body:
      application/json:
        type: AccountNoID
        example: !include examples/accountExample.raml
    responses:
      201:
        body:
          application/json:
            example:
              {"message": "account replaced (but not really)"}
      400:
        body:
          application/json:
            example: {
              "message": "Error retrieving data in PUT method from the Account database."
            }
  patch:
    description: Mod account based on the given id.
    body:
      application/json:
        type: AccountNoID
        example: !include examples/accountExample.raml
    responses:
      201:
        body:
          application/json:
            example:
              {"message": "account modified (but not really)"}
      400:
        body:
          application/json:
            example: {
              "message": "Error retrieving data in PATCH method from the Account database."
            }
  delete:
    description: Delete account by id.
    body:
      application/json:
        type: AccountNoID
        example: !include examples/accountExample.raml
    responses:
      201:
        body:
          application/json:
            example:
              {"message": "account deleted (but not really)"}
      400:
        body:
          application/json:
            example: {
              "message": "Error retrieving data in DELETE method from the Account database."
            }